.formulario {
	background-color:#A4A4A4;
	color:#fff;
	text-shadow: 1px 1px #000;
	font-size: 1.8rem;
	font-weight: bold;
	box-shadow: 1px 1px 11px #000;

}

input{
	font-size: 1.7rem;
	padding: 4px;
	border-radius: 15px;
	border: solid;
	font-weight: bold;
	box-shadow: 1px 1px 11px #000;


}